/*----------  Responsive Screen Size  ----------*/
$rwd-tablet: em(768);
$rwd-desktop: em(1024);
$rwd-widescreen: em(1140);

/*----------  Color  ----------*/
$red01: red;

/*----------  Font Family  ----------*/
$f-header: 'Kanit', sans-serif;
$f-text: 'Trirong', serif;

